{
  "extends": [
    "airbnb",
  ],
  "rules": {
    "func-names": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-plusplus": ["off"],
    "no-shadow": ["warn"],
    "no-param-reassign": ["warn"],
    "no-await-in-loop": ["warn"],
    "no-underscore-dangle": ["off"],
    "max-len": ["warn"],
    "arrow-body-style": ["warn"],
    "no-restricted-syntax": ["off"],
    "curly": ["warn"]
  },
  "parser": "babel-eslint",  
  "plugins": [
  ]  
}